$TTL 1d
$ORIGIN {{ inversa }}.


@	IN	SOA	dns.{{ dominio }}.	admin.{{ dominio }}.	(
	1	;serial
	6h	;refresh
	1h	;retry
	1w	;expire
	6h	;nxdomain
)


@		IN	NS	dns.{{ dominio }}.


10.0	IN	PTR	dns.{{ dominio }}.
11.0	IN	PTR	nodo1.{{ dominio }}.
12.0	IN	PTR	nodo2.{{ dominio }}.


